.main1
{
  background-color: #000000;
}


.grid-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  cursor: url('./images/icons8-mouse-cursor-48.png'), auto;
}

.grid-item {
  background-color: #1c1c1c;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.grid-item-70 {
  color: #fff;
}

.grid-item-30 {
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about {
  font-size: 2.5em;
  color: #ffffff;
  margin-bottom: 20px;
}

.text-center {
  text-align: center;
}

p {
  font-size: 1em;
  line-height: 1.6;
  margin-bottom: 15px;
}

h3 {
  font-size: 1.5em;
  color: #ddd;
  margin-top: 20px;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
}

li {
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr;
  }

  .grid-item-30 {
    display: none;
  }
}

.blue-text {
  color: #ffffff;
}

.kunal {
  width: 100%;
  max-width: 300px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 auto;
  height: 355px;
}
.IDO b{

  color: rgb(255, 253, 253);
}
.parent-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-1 {
  border-radius: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px; 
  width: 190px;
  background-color: white;
  transition: ease-in-out 0.6s;
  font-weight: 600;
  border: none;


}
.btn-1:hover{
  background-color: #585858;
  color: white;
  border: none;

}
