.contact {
    background-color: #000000;
    padding: 40px 0;
    background-image: url('./images/bg2.jpeg');
}

.contactus {
    color: rgb(255, 255, 255);
    background-color: #000000;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.contactus h1 {
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
}

.contactus h3 {
    font-size: 1.8em;
    text-align: center;
    margin-bottom: 15px;
}

.contactus h4 {
    font-size: 1.2em;
    text-align: center;
    margin-bottom: 25px;
}

.contactus a {
    color: #f1f1f1;
    text-decoration: none;
}

.contactus a:hover {
    text-decoration: underline;
}

.social-media {
    text-align: center;
    margin-top: 20px;
}

.social-media a {
    margin: 0 15px;
    color: #00aaff;
    font-size: 1.1em;
    text-decoration: none;
}

.social-media a:hover {
    text-decoration: underline;
}

s.contactus .fa-whatsapp,
.contactus .fa-instagram,
.contactus .fa-linkedin {
    font-size: 2em; 
    margin-right: 10px; }

    .contactus .fa-whatsapp{
        color: rgb(96, 222, 96);
        font-size: 2em; 
        margin-right: 10px;
    }
    .contactus .fa-instagram
    {
        background: linear-gradient(45deg, 
        #f58529,  
        #feda77,  
        #dd2a7b,  
        #8134af,  
        #515bd4   
      );
    }
   .contactus .fa-linkedin
    {
        color: #00aaff;
       
    }
    
    .thanku
    {
        color: #f1f1f1;
    }
   #thumb
    {
        color: white;
       
    }   
    #email {
        font-size: 2em;
        margin-right: 10px;
        color: rgb(51, 178, 225);
    }
    
    
    