
.lan {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  padding: 20px;
  overflow-x: auto;
  white-space: nowrap;
  transition: ease-in-out 1s;

}




.imgJava {
  display: inline-block;
  margin: 20px;
  padding: 20px;
  border: 1px solid #3a3a3a; 
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  flex: 0 0 auto;
  background-color: #222222; 
  text-align: center;
  animation: upward 1s ;
  transition: ease-in-out 0.8s;
  overflow: hidden  ;
}
.imgJava:hover
{
padding: 25px;
}

.imgJava img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  transition: transform 0.3s ease;
  border-radius: 10px;
  box-shadow: 0px 5px 10px rgba(255, 255, 255, 0.2);
}

.imgJava h2 {
  margin-top: 10px;
  font-size: 20px;
  color: #e6e6e6; 
  font-family: 'Arial, sans-serif';
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #e6e6e6; 
}

@media (max-width: 767px) {
  .lan {
    flex-wrap: wrap;
    justify-content: center;
  }
  .imgJava {
    margin: 10px;
    padding: 15px;
  }
  .imgJava img {
    width: 80px;
    height: 80px;
  }
  .imgJava h2 {
    font-size: 16px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .lan {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .imgJava {
    margin: 15px;
    padding: 18px;
  }
  .imgJava img {
    width: 125px; 
    height: 125px;
  }
  .imgJava h2 {
    font-size: 18px;
  }
}

.btnlan {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 50%; 
  transform: translateX(-50%); 
  background-color: #000000;
  color: white;
  border-radius: 15px;
  border: 0;
  padding: 10px 20px; 
  max-width: 200px;
}

.btnlan:hover {
  transition: 0.6s ease-in;
  background-color: #ffffff;
  color: black;
  border: 0;
}

@media (max-width: 768px) {
  .btnlan {
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (max-width: 480px) {
  .btnlan {
    width: 100% ;
    max-width: 300px; 
    padding: 8px 16px; 
  }
}
