  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #333; }


  .logo {
    width: 58px;
    height: auto;
    position: relative;
    bottom: 30px;
  }

  .pages ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px;
  }

  .pages ul li {
    display: inline;
  }

  .pages ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    position: relative;
    bottom: 100px;
  }

  .socialIcons {
    display: flex;
    gap: 20px;
    margin-top: 20px;
  }

  .socialIcons a {
    color: #fff; 
    font-size: 24px;
  }

  .linkdin {
    border: 2px solid #fff; 
    border-radius: 100% 0% 100% 0% / 0% 28% 72% 100%;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black; 
    color: #007bff;
    box-shadow: 5px 25px 25px rgba(0, 0, 0, 0.3);
    transition: 0.6s ease-in-out;
  }

  .linkdin:hover {
    background-color: #007bff;
    color: #fff; 
  }

  .Whatsapp {
    border: 2px solid #fff;
    border-radius: 0% 100% 0% 100% / 14% 0% 100% 86%;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black; 
    color: #007bff;
    box-shadow: 5px 25px 25px rgba(0, 0, 0, 0.3);
    transition: 0.6s ease-in-out;
  }

  .Whatsapp:hover {
    background-color: #48df48; 
    color: #fff; 
  }

  .instagram {
    border: 2px solid #fff; 
    border-radius: 0% 100% 0% 100% / 100% 77% 23% 0%;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: #fff; 
    font-size: 24px;
    position: relative;
    right: 60px;
    bottom: 58px;
    box-shadow: 5px 25px 25px rgba(0, 0, 0, 0.3);
    transition: 0.6s ease-in-out;
  }

  .instagram:hover {
    background: linear-gradient(45deg, 
      #f58529,  
      #feda77,  
      #dd2a7b,  
      #8134af,  
      #515bd4   
    );
    color: #fff; 
  }

  .tele {
    border: 2px solid #fff; 
    border-radius: 79% 21% 0% 100% / 100% 0% 100% 0%;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black; 
    color: #f9f9f9;
    box-shadow: 5px 25px 25px rgba(0, 0, 0, 0.3);
    font-size: 24px;
    position: relative;
    left: 60px;
    bottom: 160px;
    transition: 0.6s ease-in-out;
  }

  .tele:hover {
    background-color: #0b97ce; 
    color: #fff; 
  }
